@import 'variables';
@import 'mixins';

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $spacing-md;
  
  @include respond-to($tablet) {
    max-width: 720px;
  }
  
  @include respond-to($desktop) {
    max-width: 960px;
  }
  
  @include respond-to($wide) {
    max-width: 1200px;
  }
}

.hide-mobile {
  display: none;
  
  @include respond-to($tablet) {
    display: block;
  }
}

.hide-desktop {
  display: block;
  
  @include respond-to($tablet) {
    display: none;
  }
}